services:
  rasa:
    image: rasa/rasa:3.6.20
    platform: linux/amd64
    command:
      - run
      - --enable-api
      - --cors
      - "*"
      - --endpoints
      - endpoints.yml
    ports:
      - "5005:5005"
    volumes:
      - ./:/app
    working_dir: /app
    depends_on:
      - actions
    restart: unless-stopped
    environment:
      - LOG_LEVEL=INFO

  actions:
    build:
      context: .
      dockerfile: Dockerfile.actions
    ports:
      - "5055:5055"
    volumes:
      - ./actions:/app/actions
    restart: unless-stopped

  ui:
    build:
      context: ./ui
    ports:
      - "80:4173"
    depends_on:
      - rasa
    restart: unless-stopped
    environment:
      - NODE_ENV=production