version: "3.8"

services:
  rasa:
    image: rasa/rasa:3.6.20
    platform: linux/amd64
    command:
      - run
      - --enable-api
      - --cors
      - "*"
      - --debug
      - --endpoints
      - endpoints.yml
    ports:
      - "5005:5005"
    volumes:
      - ./:/app
    working_dir: /app
    depends_on:
      - actions

  actions:
    build:
      context: .
      dockerfile: Dockerfile.actions
    ports:
      - "5055:5055"
    volumes:
      - ./actions:/app/actions

  ui:
    build:
      context: ./ui
    ports:
      - "4173:4173"
    depends_on:
      - rasa
